.locations {
  width: 100vw;
  min-height: 84vh;
  background-color: rgb(38, 44, 58);
}
.locations-container {
  padding: 15px 0 15px 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  place-items: center;
}

.location {
  display: flex;
  flex-direction: column;
  background-color: #906a3a;
  width: 350px;
  height: 100%;
  padding: 0 5px 0 5px;
  text-align: center;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 4px 4px 10px black;
}
@media (max-width: 1050px) {
  .locations-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 750px) {
  .locations-container {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 750px) {
  .location {
    width: 500px;
  }
}
